/* Berlin Spandau */

:root {
  --m2o-background-editor: #212121;
  --m2o-invisibles-color: #313131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --m2o-background-editor: #212121;
    --m2o-invisibles-color: #313131;
  }
}
 
@media (prefers-color-scheme: light) {
  :root {
    --m2o-background-editor: #f7f7f7;
    --m2o-invisibles-color: #e0e0e0;
  }
}

::-webkit-scrollbar {
  /* display: none; */
}

#editor {
  /*
    The font is available on GitHub
    https://github.com/iaolo/iA-Fonts/tree/master/iA%20Writer%20Duospace
  */
  font-family: "iA Writer Duospace" !important;;
  background-color: var(--m2o-background-editor) !important;
}

#editor .CodeMirror {
  max-width: 60em;
  margin: 0 0.1em 0 2em;
  line-height: 140%;
}

.CodeMirror-line:not(:last-child)::after {
  content: "¶";
  color: var(--m2o-invisibles-color);
}

[class*=size-header-] {
  font-size: 100% !important;
}
