/* Berlin Spandau
** for Zettlr 3
** iA Writer font available on GitHub:
** https://github.com/iaolo/iA-Fonts/tree/master/iA%20Writer%20Duo
*/

:root {
  --m2o-background-editor: #212121;
  --m2o-invisibles-color: #313131;
  --m2o-editor-font: "iA Writer Duo S";
}

@media (prefers-color-scheme: dark) {
  :root {
    --m2o-background-editor: #212121;
    --m2o-invisibles-color: #313131;
  }
}
 
@media (prefers-color-scheme: light) {
  :root {
    --m2o-background-editor: #f7f7f7;
    --m2o-invisibles-color: #e0e0e0;
  }
}

.main-editor-wrapper {
  font-family: var(--m2o-editor-font) !important;;
  background-color: var(--m2o-background-editor) !important;
}

.cm-editor {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[class*=size-header-] {
  font-size: 100% !important;
}
